.navbar{
    display: flex;
    align-items: center;
    background-color: rgb(42, 40, 40);
    padding:15px
}
.navbar:hover{
    background-color: #333;
}
.navbar a{
    color: white;
    font-size: 12px;
    padding: 20px 30px;
}
.navbar a:hover{
    background-color: #bdbbbb; 
}
.Container{  
    display: flex;
    flex-direction: row;
}

.item {
    flex: 1;

    padding: 20px;
    margin: 5px;
    background-color: lightblue;
    border: 1px solid darkblue;
    text-align: center;
}
.item img {
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto 10px;
}